.container > h1 {
    font-size: 30px;
}


/* Places es el padre de todos los hijos */


.container > .places{
    width: 100%;
    height: 1000px;
    border: 1px solid black;
}

/* pack contiene 1 flex de 2 articulos */

.container > .places > article > .pack{
    display: flex;
}
/*  Para el layout del flex (pack) */
.container > .places > article > .pack > .place1{
width: 390px;
height: auto;
border: #FF5A5F 1px solid;
border-radius: 4px;
margin-left: 4%;
}

.container > .places > article > .pack > .place2{
    width: 390px;
    height: auto;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    float: right;
    margin-left: 14%;
}
/* Para titulos de los places */
.container > .places > article > .pack > .place2 > .infoflex > h2{
    font-size: 30px;
    text-align: center;
}

.container > .places > article > .pack > .place1 > .infoflex > h2{
    font-size: 30px;
    text-align: center;
}
/* pendiente configurar margin de los articulos */











/* Para el single article */


.container > .places > article > .single {
    width: 390px;
    height: auto;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 30%;
}

.container > .places > article > .single > .infoflex > h2{
    text-align: center;
    font-size: 30px;
}